<!DOCTYPE html>
<html>
<head>
    <title>KPL</title>
</head>
<body>
<h2>Perhitungan selisih</h2>
<form action="http://localhost:4567/float">
    Masukan panjang centimeter
    <input type="text" name="cmInput"/>
    <br><br>
    <input type="submit" name="Submit"/>
</form>
<p>$m meter - $cmInput centimeter = $result meter</p>

</body>
</html>